{% extends 'detailed_contentLayout.html' %}
{% block content %}
    <div class="container">
        <div class="container">
            {{ table}}
        </div>
    </div>
    {% for page_num in announcement.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
            {% if page_num %}
                {% if announcement.page == page_num %}
                    <a class="btn btn-dark mb-4" href="/admin/student?page={{page_num}}" >{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-dark mb-4" href="/admin/student?page={{page_num}}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
    {% endfor %}
{% endblock %}
