{% extends 'student_layout.html' %}
{% block content %}
    <div class="container">
        <h1>Select your preferred hostel</h1>
        <div class="row">
            {% for hostel in hostels.items%}
                <div class="card col-lg-3 col-md-4 col-sm-5 col-xs-12" style="width: 20rem;background: #E6E6E6; margin-right: 40px; margin-top: 30px">
                  <br>
                  <img class="card-img-top img-fluid" style="width: 100%;column-count: 1; object-fit: cover;" src="{{'/'+ hostel.img}}" alt="{{ hostel.hostel_name }}">
                  <div class="card-body">
                    <h4 class="card-text">{{ hostel.hostel_name }}</h4>
                  </div>
                  <div class="card-action">

                    <a class="btn btn-info" style="float:right;margin-bottom:15px;" href="{{ url_for('picked_hostel', id = hostel.hostel_id) }}">See hostel details</a>
                  </div>
                </div>
            {% endfor %}

        </div>
        <div class="row" style="margin-top: 50px">
          {% for page_num in hostels.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
            {% if page_num %}
                {% if hostels.page == page_num %}
                    <a class="btn btn-dark mb-4" href="/admin/viewrooms?page={{page_num}}" >{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-dark mb-4" href="/admin/viewrooms?page={{page_num}}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
          {% endfor %}
        </div>

    </div>

{% endblock %}
