{% extends "student_layout.html" %}
{% block content %}
    {% for announcement in announcement.items%}
        <div class="row">
            <div class="container" style="margin-bottom: 30px">
                <div>
                    <a>{{ announcement.user.firstname }} </a><a>{{ announcement.user.lastname }}</a>
                    <a style="position: relative; left: 77%">{{ announcement.date_posted.strftime('%Y-%m-%d') }}</a>
                </div>
                <div class="card w-85" style="background-color: #E6E6E6">
                    <div class="card-body">
                        <h2><a class="article-title">{{ announcement.subject }}</a></h2>
                        <p class="article-content">{{ announcement.message }}</p>
                    </div>
                </div>
          </div>
        </div>
    {%endfor%}
    {% for page_num in announcement.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
            {% if page_num %}
                {% if announcement.page == page_num %}
                    <a class="btn btn-dark mb-4" href="/admin/student?page={{page_num}}" >{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-dark mb-4" href="/admin/student?page={{page_num}}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
{% endblock%}
