{% extends "About_TourLayout.html"%}
{% block content %}
    <div class="container">
        <div>
            <br><br><br><br><br>
            <h1 class = "text-center display-1" id="aa">Take a Tour</h1>
        </div>
        <br>
        {% for i in range(0,hostel|length) %}
            {% if( i % 2 == 0) %}
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-lg-4 col-sm-12">
                        <img style="height: 350px" class="img-fluid rounded" src="{{ hostel[i].img }}">
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <h3>{{ hostel[i].hostel_name }}</h3>
                        <br>
                        <p>{{ hostel[i].description }}</p>
                    </div>
                </div>
                <br><br>

            {% else %}
                 <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <h3>{{ hostel[i].hostel_name }}</h3>
                        <br>
                        <p>{{ hostel[i].description }}</p>
                    </div>
                    <div  class="col-lg-4 col-sm-12">
                        <img style="height: 350px" class="img-fluid rounded " src="{{ hostel[i].img }}">
                    </div>
                </div>
                <br><br>

            {% endif %}

        {% endfor %}

        <br>
    </div>


{% endblock %}
